<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.gamewin.weixin.mybatis.ActivityUserMybatisDao">
 
	 
	<update id="updateUserStatus"   >
		UPDATE  wx_activity_user u SET u.status='Y' WHERE u.activity_id=#{activityId} and  u.user_id IN 
		<foreach item="item" index="index" collection="ids" open="(" separator="," close=")">  
		  #{item}  
		 </foreach>  
	</update>
 
	<select id="getUserAllActivityUserlist"   parameterType="com.gamewin.weixin.model.QueryUserDto"  resultType="com.gamewin.weixin.model.ActivityUserList">
		SELECT u.`game_Name` as gameName ,u.`name`,u.roles, COUNT(t.`activity_id`) cn FROM wx_activity_user t,wx_user u WHERE t.`user_id`=u.id 
		<if test="search_LIKE_userName !=null and '' !=search_LIKE_userName">
			and (u.game_Name like CONCAT('%',#{search_LIKE_userName},'%')   or  u.login_name like CONCAT('%',#{search_LIKE_userName},'%')  or u.name like CONCAT('%',#{search_LIKE_userName},'%') )
		</if>
		GROUP BY t.`user_id` ORDER BY cn DESC
	</select>
 
</mapper> 
