@charset "utf-8";
/* CSS Document*/

.logoToo{  background: rgba(0, 0, 0, 0) url("../images/loge4.png") no-repeat scroll 0 0 / 100% auto;
    height: 25px;
    width: 200px;} 
.loginpicToo{
	background: rgba(0, 0, 0, 0) url("../images/lht.jpg") no-repeat scroll 0 0 / 100% auto;
   	height: 264px;
    width:100%;;
}
.fr {float:right}
.bodycss{ padding:0px;margin:0px; width:100%;overflow-x:hidden;}
.logindiv{ margin:0px auto;width:80%; }
.loge{margin:0px auto; width:200px; padding-top:30px; padding-bottom:20px;}
.loge img{ width:200px;}
.loginpic{margin:0px auto 30px auto; width:100%; clear:both; padding-top:5px;}
.loginpic img{ width:100%;}
.loginbox{margin:0px auto; width:100%;}
.loginbox img{width:100%;}
.loginbox p{ margin-bottom:16px; font-size:14px; line-height:20px;}
.loginbox p .link a{color: #000000;text-decoration: underline;font-size:14px;}
.loginbox p .link a:hover{color: #FF9900;text-decoration: underline;font-size:14px;}

.orangebtn{width:100% !important; height:40px;background:#86a7f8;border-radius:5px;border:1px solid #86a7f8;cursor:pointer;font-size:15px; text-align:center;color:#fff; font-weight:bold;-moz-border-radius:5px;}
.orangebtn:hover{width:100%; height:40px;background:#ff6600;border-radius:5px;border:1px solid #ff6600;cursor:pointer;text-align:center;font-size:15px;-moz-border-radius:5px;}
.medium-input{width:100%;height:36px; line-height:36px;border: 1px solid #CCCCCC;border-top-color: #666666; color:#999999;font-size:14px; padding:0px; }
.userico{background: #FFFFFF url(../images/user_ico.png) no-repeat 8px center; text-indent:35px;}
.passwordico{background: #FFFFFF url(../images/password.png) no-repeat 8px center;text-indent:35px;}
.checkbox{ margin-right:5px; position:relative; top:1px;}

.added_box{width:100%;padding:0px;color:#333;}
.added_box ul{margin:15px 0px 15px 0px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;background:#fff;}
.added_box ul li{ border:0px;font-size:15px; margin:5px 0px;line-height:24px;padding:4px 8px;}
.added_box ul li span{float:left; width:28%; line-height:20px;font-size:15px; color:#666; text-align:right; margin-right:5px; font-weight:bold; padding-top:3px;}
.added_box select{ padding:0px; height:28px; width:68%;font-size:14px;border:1px solid #ccc;}
.added_box input{width:67%; font-size:15px; text-indent:5px; border:1px solid #ccc;height:26px;-moz-border-radius:5px;border-radius:5px;}
.added_box input.chekbox{width: auto;}
.textarea{ border:0px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;background:#fff;}
.textarea textarea{border:0px; height:80px; width:99%; text-indent:8px; padding:8px 0px; color:#666666; font-size:14px;}

.twobtn{ margin:15px 15px 15px 15px;}
.twobtn2{ margin:15px 10px; text-align:center;}
.graybtn{width:46% !important;; height:40px;background:#eec68d;border-radius:5px;border:1px solid #eec68d;cursor:pointer;font-size:15px; text-align:center;color:#fff; font-weight:bold;-moz-border-radius:5px; float:left}
.graybtn:hover{width:46%; height:40px;background:#ff6600;order-radius:5px;border:1px solid #ff6600;cursor:pointer;text-align:center;-moz-border-radius:5px;font-size:15px;}


.graybtn2{width:46% !important;; height:40px;background:#eec68d;border-radius:5px;border:1px solid #eec68d;cursor:pointer;font-size:15px; text-align:center;color:#fff; font-weight:bold;-moz-border-radius:5px;}
.graybtn2:hover{width:46%; height:40px;background:#ff6600;order-radius:5px;border:1px solid #ff6600;cursor:pointer;text-align:center;-moz-border-radius:5px;font-size:15px;}

.brownbtn2{width:46% !important;; height:40px;background:#86a7f8;border-radius:5px;border:1px solid #86a7f8;cursor:pointer;font-size:15px; text-align:center;color:#fff; font-weight:bold;-moz-border-radius:5px;}
.brownbtn2:hover{width:46%; height:40px;background:#ff6600;border-radius:5px;border:1px solid #ff6600;cursor:pointer;text-align:center;-moz-border-radius:5px;font-size:15px;}

.brownbtn{width:46% !important;; height:40px;background:#86a7f8;border-radius:5px;border:1px solid #86a7f8;cursor:pointer;font-size:15px; text-align:center;color:#fff; font-weight:bold;-moz-border-radius:5px; float:right}
.brownbtn:hover{width:46%; height:40px;background:#ff6600;border-radius:5px;border:1px solid #ff6600;cursor:pointer;text-align:center;-moz-border-radius:5px;font-size:15px;}

.view_box{}
.view_box{width:100%;padding:0px;color:#333;}
.view_box ul{margin:15px 0px 15px 0px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;padding:10px 0px;background:#fff;}
.view_box ul li{ border:0px;font-size:14px; margin:0px;line-height:24px;padding:2px 8px; }
.view_box ul li span{float:left; width:20%; line-height:20px;display:block; font-size:14px; color:#666; text-align:right; margin-right:5px;font-weight:bold;}
.divwidth{ width:62%}

.graybar{ width:100%;background:#eee;border-top:1px solid #ccc;border-bottom:1px solid #ccc; height:48px; line-height:48px; text-indent:12px; font-size:15px;cursor:pointer;}
.arrow{ float:right; margin-right:15px; margin-top:6px;}
.arrow img{ width:24px; height:24px;}
.onebtn{margin:0px 15px 15px 15px;}
 
.listleave_box{}
.listleave_box ul{ width:100%;float:left;background:#fff;}
.listleave_box ul li{border-bottom:1px solid #ccc;background:#fff; line-height:20px; font-size:14px;float:left; width:100%;}
.listleave_box ul li.graybg{background:#f8f8f8;}
.listleave_bar{width:100%;background:#eee;border-top:1px solid #ccc;border-bottom:1px solid #ccc; height:36px; line-height:36px; text-indent:12px; font-size:15px;}
.listleave_text{font-size:14px; padding:10px 10px 5px 10px;}
.listleave_text p{ width:100%; float:left;}
.listleave_text span{float:left; width:100px; line-height:20px;display:block;color:#666; text-align:right; margin-right:8px; font-weight:bold;}
.listleave_text span.divwidth2{ width:60%; float:left;line-height:20px;display:block;color:#333; text-align:left;}
.listleave_text font{ color: #CC0000; font-weight:bold;}


.orangebtn2{background:#fff;border-radius:5px;border:1px solid #6c95f8;cursor:pointer;font-size:13px; text-align:center;color:#6c95f8; font-weight:bold;-moz-border-radius:5px; padding:6px 15px 4px 15px; margin-right:10px;}
.orangebtn2:hover{background:#fff;border-radius:5px;border:1px solid #ff6600;cursor:pointer;text-align:center;font-size:13px;-moz-border-radius:5px;padding:6px 15px 4px 15px; margin-right:10px;color:#ff6600;}

.morebtn{ margin:0px 15px 10px 15px;}

.orangebtn3{background:#fff;border-radius:5px;border:1px solid #6c95f8;cursor:pointer;font-size:13px; text-align:center;color:#6c95f8; font-weight:bold;-moz-border-radius:5px; padding:6px 15px 4px 15px; margin-right:10px;}
.orangebtn3:hover{background:#fff;border:1px solid #ff6600;cursor:pointer;text-align:center;font-size:13px;-moz-border-radius:5px;border-radius:5px;padding:6px 15px 4px 15px; margin-right:10px;color:#ff6600;}

.orangebtn4{background:#eec68d;border-radius:5px;border:1px solid #eec68d;cursor:pointer;font-size:15px; text-align:center;color:#fff; font-weight:bold;-moz-border-radius:5px;width:100%;height:40px;}
.orangebtn4:hover{background:#ff6600;border-radius:5px;border:1px solid #ff6600;cursor:pointer;text-align:center;font-size:15px;-moz-border-radius:5px;width:100%; height:40px;}

.record{}
.record ul{}
.record ul li{border-bottom:1px solid #ccc;background:#fff;line-height:20px; font-size:14px;width:100%;}
.record ul li.graybg{background:#f8f8f8;}


.record2{}
.record2 ul{ width:100%; }
.record2 ul li{border-bottom:1px solid #ccc;background:#fff; line-height:20px; font-size:14px; width:100%;}
.record2 ul li.graybg{background:#f8f8f8;}

.record_text{font-size:14px;padding:10px;}
.record_text p{ width:100%; float:left;}
.record_text span{float:left; width:100px; line-height:20px;display:block;color:#666; text-align:right; margin-right:8px; font-weight:bold;}

.arrow_up{position: relative; top:-38px; right:-36px;}
.arrow_up img{ width:24px; height:24px; float:right;}

.todo_box{width:100%;padding:0px;color:#333;}
.todo_box ul{margin:0px 0px 15px 0px;border-top:1px solid #ccc;}
.todo_box ul li{ border:0px;font-size:14px; margin:0px;line-height:22px;padding:10px;border-bottom:1px solid #ccc;background:#fff;}
.todo_box ul li:hover{background:#ffffcc;cursor:pointer;}
.todo_box ul li.graybg{background:#f8f8f8;}
.todo_box ul li.graybg:hover{background:#ffffcc;cursor:pointer;}
.todo_box ul li p{}
.todo_box_title{width:100%;background:#eee;border-top:1px solid #ccc;height:36px; line-height:36px; text-indent:12px; font-size:15px;}

.affix{font-size:14px; padding:10px;}
.affix img{ float:left; width:40px; margin-right:8px;}
.affix p{ }

.title{text-align:center;font-weight:bold; padding-bottom:5px; margin-bottom:5px; }

.xmzs_list{}
.xmzs_list ul{ width:100%;}
.xmzs_list ul li{border-bottom:1px solid #ccc;background:#fff;padding:10px; line-height:24px; font-size:14px;}
.xmzs_list ul li.graybg{background:#f8f8f8;}
.xmzs_list ul li span{ color:#666;font-weight:bold;}
.xmzs_list ul li a{color:#CC0000;text-decoration: underline;}
.xmzs_list ul li a:hover{color: #FF6600;}

.graytitle{width:100%;background:#eee;border-top:1px solid #ccc;border-bottom:1px solid #ccc; height:36px; line-height:36px; text-indent:12px; font-size:15px;cursor:pointer;}

.wlm_box{}
.wlm_box{width:100%;padding:0px;color:#333;}
.wlm_box ul{margin:15px 0px 15px 0px;border-top:1px solid #ccc;}
.wlm_box ul li{ border:0px;border-bottom:1px solid #ccc;font-size:15px; margin:0px;line-height:24px;padding:12px 8px;background:#fff;}
.wlm_box ul li span{float:left; width:32%; line-height:20px;display:block; font-size:15px; color:#666; text-align:right; margin-right:5px}
.wlm_box input{width:60%; border:0px; font-size:15px; text-indent:5px;-moz-border-radius:5px;border-radius:5px;}

.details_box{ padding:10px 15px;}
.details_box p{line-height:24px;}
.details_box p span{color:#666;font-weight:bold;}
.details_box p img{ width:100%;}

.huodong_box{}
.huodong_box{width:100%;padding:0px;color:#333;}
.huodong_box ul{margin:15px 0px 15px 0px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;background:#fff;}
.huodong_box ul li{font-size:15px;margin:5px 0px;line-height:24px;padding:4px 8px;}
.huodong_box ul li span{float:left; width:36%; line-height:20px;display:block; font-size:15px; color:#666; text-align:right; margin-right:2px; font-weight:bold; padding-top:2px;}
.huodong_box select{border:0px; padding:0px; height:20px; width:60%;font-size:14px;}
.huodong_box input{width:55%; border:0px; font-size:15px; text-indent:5px;}

.huodong_text{font-size:14px; padding:10px 10px 10px 10px;}
.huodong_text p{ padding:4px;}
.huodong_text span{float:left; width:125px; line-height:20px;display:block;color:#666; text-align:right; margin-right:3px; font-weight:bold;}
.huodong_text input{ border:1px solid #ccc;border-top:1px solid #999; width:54%; padding:2px 0px; line-height:20px;-moz-border-radius:5px;border-radius:5px;}
.huodong_text select{border:1px solid #ccc; padding:0px; height:20px; width:54%;font-size:14px;}

.paizhao{background:#bb8432;border-radius:5px;border:1px solid #bb8432;cursor:pointer;font-size:13px; text-align:center;color:#fff; font-weight:bold;-moz-border-radius:5px; margin-right:10px; height:28px;}
.paizhao:hover{background:#ff6600;border-radius:5px;border:1px solid #ff6600;cursor:pointer;text-align:center;font-size:13px;
-moz-border-radius:5px;margin-right:10px; height:28;}

.hdlist_box{}
.hdlist_box ul{ width:100%;float:left;}
.hdlist_box ul li{border-bottom:1px solid #ccc;border-top:1px solid #ccc;background:#fff; line-height:20px; font-size:14px;float:left; width:100%; margin-bottom:15px;}
.hdlist_listbox{}
.hdlist_listbox ul{ width:100%;float:left;}
.hdlist_listbox ul li{border-bottom:1px solid #ccc;border-top:0px solid #ccc;background:#fff; line-height:20px; font-size:14px;float:left; width:100%; margin-bottom:0px;}

.shouhuo_box{font-size:14px; padding:10px 10px 10px 10px; border-bottom:1px solid #ccc; border-top:1px solid #ccc; background:#fff;}
.shouhuo_box p{ padding:4px;}
.shouhuo_box span{float:left; width:125px; line-height:20px;display:block;color:#666; text-align:right; margin-right:3px}
.shouhuo_box input{ border:1px solid #ccc;border-top:1px solid #999; width:54%; padding:2px 0px; line-height:20px;-moz-border-radius:5px;border-radius:5px;}
.shouhuo_box select{border:1px solid #ccc; padding:0px; height:20px; width:54%;font-size:14px;}

.sb_box{width:100%;padding:0px;color:#333;}
.sb_box ul{margin:15px 0px 15px 0px;border-top:1px solid #ccc;}
.sb_box ul li{ border:0px;border-bottom:1px solid #ccc;font-size:15px; margin:0px;line-height:24px;padding:12px 8px;background:#fff;}
.sb_box ul li span{float:left; width:28%; line-height:20px;display:block; font-size:15px; color:#666; text-align:right; margin-right:5px;font-weight:bold;}
.sb_box select{border:0px; padding:0px; height:20px; width:68%;font-size:14px;}
.sb_box input{width:63%; border:0px; font-size:15px; text-indent:5px;-moz-border-radius:5px;border-radius:5px;}
.sb_box ul li span.sb_width{float:left; width:68%; line-height:20px;display:block; font-size:15px; color:#333333; text-align:left; word-break:break-all; font-weight:normal;}

.smbtn{width:46%; height:40px;background:#eec68d url(../images/shaoma.png) no-repeat 3px 2px;border-radius:5px;border:1px solid #eec68d;cursor:pointer;font-size:15px; text-align:center;color:#fff; font-weight:bold;-moz-border-radius:5px; float:left}
.smbtn:hover{width:46%; height:40px;background:#ff6600 url(../images/shaoma.png) no-repeat 3px 2px;order-radius:5px;border:1px solid #ff6600;cursor:pointer;text-align:center;-moz-border-radius:5px;font-size:15px;}



.alinkBtn{  background: #fff;
  margin: 10px;
  border: 1px solid #ccc;
  color: #333;
  border-radius: .25em;
  display: block;
  height: 36px;
  width: 90%;
  line-height: 36px;
  text-transform: uppercase;
  font: inherit;}